<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Классы и идентификаторы</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<p>Виноград белого вина:</p>
	<ul>
		<li class="whitewine">Рислинг</li>
		<li class="whitewine">Шардонэ</li>
		<li class="whitewine">Пино Блан</li>
	</ul>
	<p>Виноград для красного вина:</p>
	<ul>
		<li class="redwine">Кабернэ</li>
		<li class="redwine">Мерло</li>
		<li class="redwine">Пино Нуар</li>
	</ul>
	<p>Остальной вина</p>
	<ul>
		<li>Дорогое</li>
		<li>Не очень</li>
	</ul>
</body>
</html>